body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar,#studentContainer::-webkit-scrollbar {
  display: none;
}

button {
  background: #1aa094!important;
}

#studentContainer {
  width: 100%;
  height: 100%;
  padding: 50px 20px 20px 20px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.layui-table {
  margin-top: 20px;
}

#pagetion {
  width: 100%;
  position: relative;
}

#pagetion .layui-laypage {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  white-space: nowrap;
}

tbody,
.layui-table th {
  text-align: center;
}

.checkDetail,
.editStudent {
  margin-right: 10px;
}

.checkDetail {
  cursor: pointer;
  color: #00bcd4;
}

.editStudent {
  cursor: pointer;
  color: #2196f3;
}

.deleteStudent {
  cursor: pointer;
  color: #ff5722;
}

.checkDetail:hover,
.editStudent:hover,
.deleteStudent:hover {
  filter: brightness(1.5);
}

.wrrap,.wrrap2,.wrrap3 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  z-index: 2003;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: none;
}

.studentBox,.studentBox2,.studentBox3 {
  width: 50%;
  background: #FFF;
  position: relative;
  margin: 0 auto 50px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-sizing: border-box;
  margin-top: 15vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.studentBox::-webkit-scrollbar,.studentBox2::-webkit-scrollbar,.studentBox3::-webkit-scrollbar,.wrrap::-webkit-scrollbar,.wrrap2::-webkit-scrollbar {
  display: none;
}

.studentBox input,.studentBox2 input,.studentBox3 input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 20px;
  margin-top: 0px;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: 14px;
}

.studentBox .student-header,.studentBox2 .student-header,.studentBox3 .student-header {
  padding: 20px 20px 10px;
}

.studentBox .closeStudentBox,.studentBox2 .closeStudentBox2,.studentBox3 .closeStudentBox3 {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #979aa0;
}

.studentBox .student-body,.studentBox2 .student-body,.studentBox3 .student-body {
  padding: 30px 20px;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}

.studentBox .student-body .layui-form-label,.studentBox2 .student-body .layui-form-label,.studentBox3 .student-body .layui-form-label {
  padding: 9px 0;
}

.studentBox .student-body .layui-input-block input,.studentBox2 .student-body .layui-input-block input,.studentBox3 .student-body .layui-input-block input {
  border: 1px solid #DCDFE6;
  font-size: 14px;
}

.studentBox2 .student-body .submitBox,.studentBox3 .student-body .submitBox {
  width: 100%;
  text-align: center;
}

.studentBox2 .student-body .submitMessage,.studentBox3 .student-body .submitMessage {
  width: 100px;
}

.studentBox2 .f-push,.studentBox3 .f-push {
  width: 100%;
}

.studentBox2 .f-push>div,.studentBox3 .f-push>div {
  width: 100%;
}

.marker>p:after {
  background: url('../../images/up.png') !important;
}

.searchBox {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.searchBox .searchName {
  width: 205px;
  height: 38px;
  line-height: 38px;
  text-indent: 14px;
  position: relative;
  border: 1px solid #e6e6e6;
}

.searchBox .searchName img {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.f-push {
  width: 205px;
  height: 38px;
  line-height: 38px;
  text-indent: 14px;
  position: relative;
  border: 1px solid #e6e6e6;
}

.f-push>p {
  display: block;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  line-height: 38px;
  min-width: 120px;
  overflow: hidden;
  border-radius: 3px;
  height: 38px;
  padding-right: 30px;
}

.f-push>p:after {
  content: '';
  background: url('../../images/down.png');
  position: absolute;
  right: 15px;
  top: 14px;
  text-indent: 0;
  width: 21px;
  height: 11px;
}

.f-push>div {
  width: 205px;
  position: absolute;
  z-index: 66666666;
  background: #1aa094;
  color: #fff;
  opacity: 0.9;
  display: none;
}

.f-push>div>div {
  height: 38px;
  padding-right: 10px;
  cursor: pointer;
  overflow: hidden;
}

.f-push>div>div:hover {
  background: #00bcd4;
  transition: .25s;
}

#selectTime {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  width: 365px;
  color: #FF5722;
}